
.city-selector {
  background-color: #f7f7f7;
  .title {
    &:hover {
      color: $themeColor;
    }
  }
  .panel-tip {
    margin: 0;
  }
  .input-group {
    display: flex;
    flex: 1;
    padding: 10px 0;
    .form-control {
      flex: 1;
    }
  }
  .selector-panel {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 340px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-start;
    align-content: start;
    // padding: 10px;
    .item {
      border-bottom: 2px solid #EEE;
      background-color: #FFF;
      width: 24%;
      margin-bottom: 5px;
      line-height: 30px;
      text-align: center;
      cursor: pointer;
      &:hover, &.active {
        color: $themeColor;
      }
    }
  }
  .tabs-container {
    min-height: 250px;
    border-bottom: 0;
    background-color: transparent;
  }
}
