* {
  font-family: Arial, "Microsoft YaHei", "微软雅黑";
}
body {
  margin: 0;
}

.flex {
  flex: 1;
}

.close-btn {
  @include closeBtn(22px);
}

.section-mark {
  @include fill();
  background-color: transparent;
  transition: background-color 0.1s ease-out;
}

.hidden,.hide {
  display: none !important;
}

.fixbg {
  @include fixbg();
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

@for $i from 1 through 2 {
  .p#{$i * 5} {
    padding: $i * 5px;
  }
  .ps#{$i * 5} {
    padding: 0 $i * 5px;
  }
  .pu#{$i * 5} {
    padding: $i * 5px 0;
  }
  .pt#{$i * 5} {
    padding-top: $i * 5px;
  }
  .pr#{$i * 5} {
    padding-right: $i * 5px;
  }
  .pl#{$i * 5} {
    padding-left: $i * 5px;
  }
  .pb#{$i * 5} {
    padding-bottom: $i * 5px;
  }
  .m#{$i * 5} {
    margin: $i * 5px;
  }
  .ms#{$i * 5} {
    margin: 0 $i * 5px;
  }
  .mu#{$i * 5} {
    margin: $i * 5px 0;
  }
  .mt#{$i * 5} {
    margin-top: $i * 5px;
  }
  .mr#{$i * 5} {
    margin-right: $i * 5px;
  }
  .ml#{$i * 5} {
    margin-left: $i * 5px;
  }
  .mb#{$i * 5} {
    margin-bottom: $i * 5px;
  }
}

.divid {
  display: block;
  background-color: #EEE;
  height: 1px;
  margin: 3px 0;
  width: 100%
}

.hide-container {
  position: relative;
  display: block;
  padding: 0;
  .caret {
    position: absolute;
    top: -4px;
  }
  .display-elem {
    display: inline-block;
    padding: 5px 10px;
    cursor: default;
  }
  .hide-content {
    width: 100%;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 12px 36px rgba(#000, 0.3);
    position: absolute;
    overflow: auto;
    display: none;
    z-index: 20;
    min-width: 200px;
  }
  &:hover,
  &.active {
    .hide-content {
      display: block;
    }
  }
}
.nomargin {
  margin: 0;
}
.link-btn {
  color: $themeColor;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  &:hover {
    border-color: $themeColor;
  }
}


html{font-size:10px}
@media screen and (min-width:321px) and (max-width:375px){html{font-size:11px}}
@media screen and (min-width:376px) and (max-width:414px){html{font-size:12px}}
@media screen and (min-width:415px) and (max-width:639px){html{font-size:15px}}
@media screen and (min-width:640px) and (max-width:719px){html{font-size:20px}}
@media screen and (min-width:720px) and (max-width:749px){html{font-size:22.5px}}
@media screen and (min-width:750px) and (max-width:799px){html{font-size:23.5px}}
@media screen and (min-width:800px){html{font-size:25px}}
