// @import '../var.scss';

$formControlBgColor: #f9f9f9;

.condition-group {
  padding: 10px 10px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  @include card();
  margin: 0 10px;

  .datepicker-ranger-content {
    .flatpickr {
      .form-control {
        width: 220px !important;
      }
    }
  }

  .flatpickr {
    display: inline-block;
  }

  .title {
    color: rgba(116, 117, 118, 1);
    margin-right: 5px;
  }

  .item {
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding-top: 0.01px;
    .radio-group {
      .block-radio {
        margin-bottom: 0;
      }
    }
    &.datetimeRange {
      display: block;
    }
    &.radio {
      margin-top: 0;
      .radio-container {
        display: inline-block;
      }
      .selectAllBtn {

      }
    }
    &.fund-change-selector {
      margin-top: 0;
      display: flex;
      align-items: center;
      .radio-container {
        flex: 1;
      }
      .radio-group {
        align-items: center;
      }
    }
    &.select {
      .uke-dropdown-menu {
        .active-item {
          background-color: $formControlBgColor !important;
        }
      }
    }
  }

  .btn {
    margin-bottom: 5px;
  }

  .form-control {
    margin-left: 5px;
    background-color: $formControlBgColor;
    // width: 140px;

    &::placeholder {
      color: #999;
    }

    &[type="text"] {
      width: 150px;
    }
    &:focus {
      background-color: #FFF !important;
    }
  }
}
