// @import '../var.scss';

.flatpickr-calendar {
  transition: opacity .2s ease;

  border-radius: 3px;
  box-shadow: 0 0 24px rgba(0, 0, 0, .2);
  > .caret {
    position: absolute;
    bottom: 100%;
    left: 40px;

    display: block;

    width: 0;
    height: 0;
    margin: 0 -5px;

    content: '';
    pointer-events: none;

    border: solid transparent;
    border-width: 5px;
    border-bottom-color: #fff;
    // transform: rotate(180deg);
  }
  &:before,
  &:after {
    display: none !important;
  }
}
