// @import "../var.scss";
$itemH: 30px;
.uke-dropdown-menu {
  position: relative;
  cursor: pointer;
  display: inline-block;
  &.multiple {
    .section-mark {
      position: fixed;
    }
  }
  .menu-wrapper, .menu-item {
    &:hover {
      color: $colorRed;
    }
  }
  .menu-wrapper {
    background-color: #FFF;
    line-height: $itemH;
    min-width: 140px;
    // line-height: 32px;
    // height: 32px;
  }
  &.show.input-mode.single {
    .search-input {
      opacity: 1;
      z-index: 1;
    }
    .display-title {
      opacity: 0;
    }
  }
  .display-title {
    opacity: 1;
    z-index: 1;
    position: relative;
    cursor: pointer;
  }
  .display-title,.search-input {
    border: 1px solid #e7e7e7;
    padding: 0 10px;
    border-radius: 3px;
  }
  .dropdown-items {
    position: absolute;
    top: 130%;
    transition: all ease 0.2s;

    z-index: 112;
    background-color: #FFF;
    border-radius: 3px;
    transition: all 0.2s ease;
    box-shadow: 0 2px 36px rgba(#333, 0.3);
    .caret {
      $height: 6px;
      position: absolute;
      top: -$height;
      border-width: $height;
      left: 20px;
      color: #FFF;
      transform: rotate(180deg);
    }
  }
  .search-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    z-index: 0;
    outline: none;
    &:focus {
      box-shadow: 0 0 5px rgba($themeColor, 0.6);
      border-color: $themeColor;
    }
  }
  .action-group {
    position: relative;
    z-index: 11;
    .action-btn {
      padding: 10px;
      &:hover {
        background-color: #f9f9f9;
      }
    }
  }
  .section-mark {
    background: transparent !important;
    // position: fixed;
    // z-index: 111;
  }
  .menu-item {
    color: #777;
    transition: border ease 0.1s;
    border-left: 0 solid $colorRed;
    padding: 5px 10px;
    &.active {
      border-left-width: 2px;
      color: $colorRed !important;
    }
  }
  .items-group {
    max-height: 240px;
    overflow-y: auto;
    min-width: 180px;
    transition: height 0.2s ease;
    .group {
      &.active {
        .cateroy-title {
          color: $themeColor;
          .check-icon {
            display: block;
          }
        }
      }
      .cateroy-title {
        padding: 10px 10px;
        border-top: 1px solid #EEE;
        border-bottom: 1px solid #EEE;
        background-color: #f3f3f3;
        position: relative;
        display: flex;
        .check-icon {
          display: none;
        }
        &:hover {
          background-color: #EEE;
        }
      }
    }
  }
}
