// @import "../var.scss";
$itemH: 30px;
.uk-dropdown-menu {
  .search-bar {
    padding: 5px 10px;
    .form-control {
      width: 100%;
    }
  }
  .action-btn-group {
    .action-btn {
      padding: 10px;
      &:hover {
        background-color: #f9f9f9;
      }
    }
  }
  .section-mark {
    background: transparent !important;
    // position: fixed;
    // z-index: 111;
  }
  .menu-list {
    position: fixed;
    z-index: 112;
    background-color: #FFF;
    border-radius: 3px;
    // height: 0;
    overflow-y: auto;
    transition: all 0.2s ease;
    max-height: 300px;
    box-shadow: 0 12px 24px rgba(#333, 0.2);
    // opacity: 0;
  }
  .menu-item {
    color: #777;
    transition: border ease 0.1s;
    border-left: 0 solid $colorRed;
    padding: 5px 10px;
    &.active {
      border-left-width: 2px;
      color: $colorRed !important;
    }
  }
  .items-group {
    min-width: 180px;
    .group {
      &.active {
        .cateroy-title {
          color: $themeColor;
          .check-icon {
            display: block;
          }
        }
      }
      .cateroy-title {
        padding: 10px 10px;
        border-top: 1px solid #EEE;
        border-bottom: 1px solid #EEE;
        background-color: #f3f3f3;
        position: relative;
        display: flex;
        .check-icon {
          display: none;
        }
        &:hover {
          background-color: #EEE;
        }
      }
    }
  }
}
.v-dropdown-menu {
  cursor: pointer;
  border-radius: 3px;
  .active-item, .menu-item {
    &:hover {
      color: $colorRed;
    }
  }
  .active-item {
    background-color: #FFF;
    line-height: $itemH;
    min-width: 140px;
    padding: 0 10px;
    // border-radius: 3px;
  }
}
