.form-layout{
  position: relative;
}
.form-control {
  &select {
    padding: 0;
  }
  display: inline-block;
  width: auto;
  background-color: #FFF;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #e7e7e7;
  background-color: #fefefe;
  transition: border-color 0.1s, background-color 0.1s;
  &:focus {
    box-shadow: none;
    background-color: #FFF;
    border-color: #6ebdcc;
  }
  &[type="range"] {
    width: auto;
  }
}
.control-label {
  color: #777;
}

.form-desc {
  display: inline-block;
  color: #999;
  font-size: 12px;
  .highlight {
    font-size: 14px;
  }
  &.success {
    color: #03b7aa;
  }
  &.error {
    color: #ec008c;
  }
}

.form-container {
  .form-control {
    min-width: 240px;
  }
}

.form-group {
  margin: 20px 0;
}
.vertical-form {
  width: 60%;
  margin: 0 auto;
  padding: 1px 0;
  .control-label {
    margin-bottom: 10px;
  }
  .form-group {
    // margin: 20px 0;
    display: flex;
    flex-direction: column;
  }
  .form-desc {
    margin-top: 2px;
  }
}

.horizontal-form {
  padding: 5px 0;
  // margin-bottom: 5px;
  &.inline {
    .form-group {
      .control-label {
        width: auto;
        padding: 0 10px;
        margin: 0;
      }
      .form-control {
        min-width: 120px;
      }
    }
  }
  .form-desc {
    margin: 0 5px;
  }
  .form-group {
    display: flex;
    align-items: center;
    &.ranger {
      // width: 70%;
      .ranger-container {
        width: 50%;
        min-width: auto;
      }
    }
    .control-label {
      width: 120px;
      text-align: right;
      margin-right: 40px;
    }
  }
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  transition: transform 0.2s ease;
}

@media screen and (max-width:800px){
  .vertical-form {
    width: 90%;
  }
}
