.iframe-container {
  height: 100%;

  iframe {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    margin: 0;
  }

  .iframe-img {
    width: 100%;
  }

  .btn-link {
    position: absolute;
    top: 8px;
    left: 10px;
    color: #666 !important;
  }
}
