

.radio-group {
  .btn {
    margin: 0 5px 5px 0;
  }
}
.block-radio {
  border: 1px solid #DDD;
  background-color: #FFF;
  margin: 0 5px 5px 0;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  color: #777;

  &.sm {
    width: 160px;
  }

  .caret {
    display: none;
    $caretScale: 16px;
    position: absolute;
    top: - $caretScale / 2;
    right: -$caretScale;
    border-color: $themeColor;
    border-width: $caretScale;
    transform: rotateZ(30deg);
  }

  &.active {
    border-color: $themeColor;
    .caret {
      display: block;
    }
  }
  &:hover {
    background-color: #fafafa;
    color: #444;
  }

  .bank-img {
    max-width: 100%;
    margin-left: 5px;
    overflow: hidden;
  }

  .label,
  label {
    margin-bottom: 0;
  }

  .tip {
    font-weight: normal;
    display: inline-block;
    margin-left: 10px;
  }
}
