.panel-tip {
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 10px;

  .item {
    padding: 5px 0;
  }

  .title {
    font-size: 16px;
  }

  &.warm {
    background-color: #fffef3;
    border-color: #eae7ab;

    .item {
      color: #887210;
    }

    .title {
      color: $themeColor;
    }
  }

  &.normal {
    background-color: #f3f9ff;
    border-color: #abc3ea;

    .item {
      color: #6799ca;
    }

    .title {
      color: #70a1ce;
    }
  }

  &.error {
    background-color: #ffe6e6;
    border-color: #f5c8c8;

    .item {
      color: #c86e6e;
    }

    .title {
      color: #c2135e;
    }
  }

  &.success {
    background-color: #e7f7e9;
    border-color: #c8f5d7;

    .item {
      color: #54b547;
    }
  }
}
