$funcBtnScale: 20px;
$funcBtnMargin: 5px;

.__treelist {
  // padding-left: $funcBtnScale + $funcBtnMargin;
  .node-item {
    // padding-left: $funcBtnScale;
    // .no-child {
    //   padding-left: $funcBtnMargin;
    // }
    .list-item {
      .check-item {
        margin-right: 5px;
      }
      .children {
        display: none;
        padding-left: $funcBtnScale / 2;
        margin-left: $funcBtnScale / 2;
        border-left: 1px dashed #DDD;
        // margin-bottom: 10px;
        margin-top: 10px;
      }
      .func-btn {
        // margin-left: - $funcBtnScale - $funcBtnMargin;
        border: 1px solid #CCC;
        text-align: center;
        border-radius: 3px;
        color: #999;
        padding: 0 3px;
        display: inline-block;
        font-weight: 100;
        width: $funcBtnScale;
        line-height: $funcBtnScale;
        height: $funcBtnScale;
        font-size: 12px;
        margin-right: $funcBtnMargin;
        background-color: #FFF;
        &.disabled {
          opacity: 0.2;
          cursor: default;
        }
      }
      &.active {
        >.children {
          display: block;
        }
      }
    }
  }
}
