
// blue
$blue-1: lighten($blue, 30%);
$blue-2: lighten($blue, 20%);
$blue-3: lighten($blue, 10%);
$blue-4: darken($blue, 10%);
$blue-5: darken($blue, 20%);
$blue-6: darken($blue, 30%);

// light blue
$light-blue-1: lighten($light-blue, 30%);
$light-blue-2: lighten($light-blue, 20%);
$light-blue-3: lighten($light-blue, 10%);
$light-blue-4: darken($light-blue, 10%);
$light-blue-5: darken($light-blue, 20%);
$light-blue-6: darken($light-blue, 30%);

// cyan
$cyan-1: lighten($cyan, 30%);
$cyan-2: lighten($cyan, 20%);
$cyan-3: lighten($cyan, 10%);
$cyan-4: darken($cyan, 10%);
$cyan-5: darken($cyan, 20%);
$cyan-6: darken($cyan, 30%);

// red
$red-1: lighten($red, 30%);
$red-2: lighten($red, 20%);
$red-3: lighten($red, 10%);
$red-4: darken($red, 10%);
$red-5: darken($red, 20%);
$red-6: darken($red, 30%);

// green
$green-1: lighten($green, 30%);
$green-2: lighten($green, 20%);
$green-3: lighten($green, 10%);
$green-4: darken($green, 10%);
$green-5: darken($green, 20%);
$green-6: darken($green, 30%);

// purple
$purple-1: lighten($purple, 30%);
$purple-2: lighten($purple, 20%);
$purple-3: lighten($purple, 10%);
$purple-4: darken($purple, 10%);
$purple-5: darken($purple, 20%);
$purple-6: darken($purple, 30%);

// yellow
$yellow-1: lighten($yellow, 30%);
$yellow-2: lighten($yellow, 20%);
$yellow-3: lighten($yellow, 10%);
$yellow-4: darken($yellow, 10%);
$yellow-5: darken($yellow, 20%);
$yellow-6: darken($yellow, 30%);

// orange
$orange-1: lighten($orange, 30%);
$orange-2: lighten($orange, 20%);
$orange-3: lighten($orange, 10%);
$orange-4: darken($orange, 10%);
$orange-5: darken($orange, 20%);
$orange-6: darken($orange, 30%);
