// base style setting

$base-body-color: #333;
$base-body-font-size: 14px;
$base-fg: #FFF;
$base-font-family: "Roboto", "Helvetica", "Arial", sans-serif, "Microsoft YaHei", "微软雅黑";

// form control setting

$form-control-height: 32px;
$form-control-font-size: $base-body-font-size;
$form-control-bg-color: #fefefe;
$form-control-border-radius: 3px;
$form-control-border-color: #e7e7e7;
$form-control-border-width: 1px;

// type setting

$h1-font-size: 36px;
$h2-font-size: 30px;
$h3-font-size: 24px;
$h4-font-size: 18px;
$h5-font-size: 14px;
$h6-font-size: 12px;

$heading-margin-top: 15px;
$heading-margin-bottom: 15px;

// button setting

$button-md-padding-vertical: 7px;
