// base style setting

$base-body-text-color: #333;
$base-body-font-size: 14px;
$base-sm-font-size: 12px;
$base-fg: #FFF;
$base-font-family: "Roboto", "Helvetica", "Arial", sans-serif, "Microsoft YaHei", "微软雅黑";
$base-border-radius: 3px;
$base-container-padding: 10px;
$base-container-padding-vertical: 10px;
$base-container-padding-horizontal: 10px;
$base-container-margin-vertical: 10px;
$base-container-margin-horizontal: 10px;

$screen-sm-width: 576px;
$screen-md-width: 768px;
$screen-lg-width: 992px;
$screen-xl-width: 1200px;

// text

$text-white-color: #FFF;
$text-title-color: darken($base-body-text-color, 10%);
$text-normal-color: $base-body-text-color;
$text-weaken-color: lighten($text-normal-color, 30%);
$text-weaken-color-2: lighten($text-normal-color, 40%);
$text-light-color: lighten($text-normal-color, 55%);

$label-padding-vertical: 3px;
$label-padding-horizontal: 12px;

// form control setting

$form-control-height: 32px;
$form-control-font-size: 1rem;
$form-control-bg-color: #fafafa;
$form-control-border-radius: $base-border-radius;
$form-control-border-color: #e7e7e7;
$form-control-border-width: 1px;
$form-control-padding-vertical: 0;
$form-control-padding-horizontal: 5px;
$form-control-min-height-width-border: $form-control-height - $form-control-border-width * 2;

$form-control-mobile-height: 42px;

$form-label-text-color: $text-weaken-color;
$form-content-text-color: $text-normal-color;

// form group

$form-group-margin-vertical: 20px;
$form-control-label-margin-horizontal: 20px;

// type setting

$h1-font-size: 36px;
$h2-font-size: 30px;
$h3-font-size: 24px;
$h4-font-size: 18px;
$h5-font-size: 14px;
$h6-font-size: 12px;

$heading-margin-top: 15px;
$heading-margin-bottom: 15px;

// button setting

$button-md-padding-vertical: 7px;
$button-md-padding-horizontal: 24px;

// table

$table-td-padding-horizontal: 10px;
$table-td-padding-verical: 8px;

$table-td-min-width: 100px;
$table-td-max-width: 400px;

$table-th-bg: linear-gradient(180deg, #fafafa, #f6f6f6);
$table-th-border-bottom-color: #ddd;

$table-tr-hovering-bg-color: rgba($blue, 0.05);
$table-tr-bg-highlight: rgba($blue, 0.1);
$table-tr-border-highlight: rgba($blue, 0.15);
$table-header-bg-color: #FFF;
$table-header-text-color: $text-title-color;
$table-body-bg-color: #FFF;
$table-body-text-color: $text-weaken-color;

// Popover

$caret-offset: 12px;
$caret-scale: 8px;

// Menu

$menu-min-width: 140px;
$menu-item-padding-vertical: 8px;
$menu-item-padding-horizontal: 12px;

// Dropdown

$dropdown-menu-item-padding: $menu-item-padding-vertical $menu-item-padding-horizontal;
$dropdown-menu-display-items-count: 4;

// Pagin

$pagin-item-padding: 0 10px;
$pagin-item-hover-bg-color: #f8f8f8;

// Scroll bar
$lightThemeScrollThumb: rgba(#777, 0.5);
$lightThemeScrollThumbHover: #666;
$lightThemeScrollThumbActive: #444;

// loading


// Tabs

$tab-text-active-color: $themeColor;
$tab-text-hover-color: $text-normal-color;
$tab-text-color: $text-weaken-color;
$tab-indicator-width: 1px;
$tab-indicator-bg-color: #CCC;
$tab-border: 1px solid #EEE;
$tab-label-padding: 10px 26px;
