/*
 * color config
 */
 
$colorRed: #f86270;
$colorRedDark: #b1147a;
$colorGreen: rgba(90, 185, 155, 1);
$colorGrey: rgba(40, 44, 52, 0.95);
$colorCyan: #03b7aa;
$colorYellow: #ffa200;
$colorBlue: #449bea;
$colorBlueLight: #23b1ed;
$colorPurple: #7474e4;
$colorPurpleLight: #a974e4;
$colorOrange: #ff9800;
$colorBlackPrue: #01040d;
$colorBlack: #2e2e2f;
$colorGold: #fcd477;
$whiteColor: #FFF;
$defaultColor: #fafafa;
$importantColor: #027bf5;
$warmColor: #ff9800;
$greyColor: #6f6f7e;
$wineColor: #c42c94;

// $headBgColor: #EEE;
// $whiteColor: #fafafa;
// $warmColor: #ff9800;
// $dangerColor: #ff5252;
// $wineColor: #c42c94;
// $greyColor: #6f6f7e;
// $importantColor: #027bf5;

// $colorRed: #f86270;
// $colorRedDark: #b1147a;
// $colorGreen: #09b9bf;
// $colorGrey: rgba(40, 44, 52, 0.95);
// $colorCyan: #03b7aa;
// $colorYellow: #ffa200;
// $colorBlue: #449bea;
// $colorBlueLight: #23b1ed;
// $colorPurple: #7375e5;
// $colorPurpleLight: #a974e4;
// $colorOrange: #ff9800;

// $colorBlackPrue: #01040d;
// $colorBlack: #2e2e2f;
// $colorGold: #fcd477;

$themeColor: $colorBlue;
