/*
 * color config
 */
 
$colorRed: #f86270;
$colorRedDark: #b1147a;
$colorGreen: rgba(90, 185, 155, 1);
$colorGrey: rgba(40, 44, 52, 0.95);
$colorCyan: #03b7aa;
$colorYellow: #ffa200;
$colorBlue: #449bea;
$colorBlueLight: #23b1ed;
$colorPurple: #7474e4;
$colorPurpleLight: #a974e4;
$colorOrange: #ff9800;
$colorBlackPrue: #01040d;
$colorBlack: #2e2e2f;
$colorGold: #fcd477;
$whiteColor: #FFF;
$defaultColor: #fafafa;
$importantColor: #027bf5;
$warmColor: #ff9800;
$greyColor: #6f6f7e;
$wineColor: #c42c94;

$tableHeaderBgColor: #FFF;
$tableHeaderTextColor: #444;
$tableBodyBgColor: #FFF;
$tableBodyTextColor: #777;

$lightThemeScrollThumb: rgba(#777, 0.5);
$lightThemeScrollThumbHover: #666;
$lightThemeScrollThumbActive: #444;

$themeColor: $colorBlue;
