$loaderScale: 2em;
$loaderColor: #3ca9d1;

.loading-control {
  padding: 0.01px;
  height: 100%;
  position: relative;
  // min-height: 100px;
  // &.loading {
  //   .loading-container {
  //     background-color: rgba(0,0,0,0.05);
  //     text-align: center;
  //     width: 100%;
  //   }
  // }
}
.loading-container {
  text-align: center;
  width: 100%;
  // position: absolute;
  top: 0;
  pointer-events: none;
}
.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: $loaderScale;
  height: $loaderScale;
  animation-fill-mode: both;
  animation: load7 1.8s infinite ease-in-out;
  &.sm {
    width: $loaderScale / 2;
    height: $loaderScale / 2;
  }
}
.loader {
  font-size: 10px;
  margin: 10px auto 40px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #3ca9d1;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #3ca9d1;
  }
}
