.__alert {
  border: $form-control-border-width solid transparent;
  border-radius: $form-control-border-radius;
  padding: $base-container-padding-vertical $base-container-padding-horizontal + 5px;
  margin: $base-container-margin-vertical $base-container-margin-horizontal;
  position: relative;

  .icon {
    margin-left: 10px;
  }

  .item {
    padding: 5px 0;
    white-space: normal;
  }

  .title {
    font-size: 16px;
    margin: 5px 0;
  }

  &.warn {
    // background-color: #fffbe6;
    // border-color: #d0cb61;
    // color: #887210;
    background-color: rgba($yellow, 0.1);
    border-color: $yellow-5;

    .item {
      color: $yellow-6;
    }

    .title {
      color: $yellow-6;
    }
  }

  &.normal {
    // background-color: #f9fcff;
    // border-color: #abc3ea;
    background-color: rgba($blue-2, 0.1);
    border-color: $blue-2;

    .item {
      color: darken($blue-5, 10%);
    }

    .title {
      color: $blue-6;
    }
  }

  &.error {
    background-color: rgba($red-2, 0.1);
    border-color: $red-2;

    .item {
      color: $red-5;
    }

    .title {
      color: $red-5;
    }
  }

  &.success {
    background-color: rgba($green-3, 0.08);
    border-color: $green;

    .item {
      color: $green-5;
    }

    .title {
      color: $green-5;
    }
  }
}
