@import '../color/color-map.scss';

.btn {
  appearance: none;
  background-color: #FFF;
  padding: 0 $button-md-padding-horizontal;
  height: $form-control-height;
  line-height: $form-control-height - 2;
  font-size: $form-control-font-size;
  border-radius: $form-control-border-radius;
  transition: background-color 0.1s ease, box-shadow 0.1s ease, color 0.1s ease;
  outline: none;
  position: relative;
  border: $form-control-border-width solid transparent;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  font-weight: normal;
  // min-width: 100px;
  cursor: pointer;

  &.file-btn input {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &:focus {
    outline: none;
    @include formControlFocusShadow($themeColor, 0.4);
  }

  &:focus:active {
    outline: none;
  }

  &.disable,
  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &:active,
  &.active {
    outline: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3) !important;
  }

  &.xl {
    font-size: 20px;
    padding: 0 48px;
    height: $form-control-xl-height;
    line-height: $form-control-xl-height;
  }

  &.lg {
    font-size: 18px;
    padding: 0 36px;
    height: $form-control-lg-height;
    line-height: $form-control-lg-height;
  }

  &.md {
    font-size: 14px;
    padding: 0 $button-md-padding-horizontal;
    height: $form-control-height;
    line-height: $form-control-height;
  }

  &.sm {
    font-size: 13px;
    padding: 0 10px;
    height: $form-control-sm-height;
    line-height: $form-control-sm-height;
  }

  &.tiny {
    font-size: $base-sm-font-size;
    padding: 0 8px;
    height: $form-control-xs-height;
    line-height: $form-control-xs-height;
    // min-width: 60px;
  }

  @for $i from 1 through length($bgColorsWithTextColor) {
    $item: nth($bgColorsWithTextColor, $i);

    &.#{map-get($item, name)} {
      $textColor: map-get($item, text);
      @include btnFlat(map-get($item, color), $textColor);
    }
  }

  &.default {
    border-color: #DDD;
  }

  &.res,
  &.block {
    width: 100%;
    text-align: center;
  }

  // .btn-icon {
  //   margin-right: 10px;
  // }
  &.hola {
    padding: 0 $button-md-padding-horizontal + 4;
    border: $form-control-border-width solid #FFF;
    // background-color: transparent !important;
    color: #FFF;
    box-shadow: 0;

    @for $i from 1 through length($bgColorsWithTextColor) {
      $item: nth($bgColorsWithTextColor, $i);

      &.#{map-get($item, name)} {
        $textColor: map-get($item, text);
        @include btnHola(map-get($item, color));
      }
    }

    &.default {
      border-color: #d1d1d1;
      color: #777;
    }
  }
}

.link-btn,
.link {
  color: $themeColor;
  cursor: pointer;
  border-bottom: 1px solid transparent;

  &:hover {
    border-color: $themeColor;
  }
}

[class*=_btn],
[class*=-btn] {
  cursor: pointer;
}

.btn-loading {
  animation: btnLoading 1.2s linear infinite;
}

.close-btn {
  @include closeBtn(22px);
}

@keyframes btnLoading {
  0% {
    transform: rotate(0);
  }

  // 50% {
  //   transform: rotate(180deg);
  // }
  100% {
    transform: rotate(360deg);
  }
}
