.date-shortcut {
  // .wrapper {
  //   width: 150px;
  //   // display: flex;
  //   // flex-wrap: wrap;
  //   // flex-direction: column;
  // }
  .action-btn {
    transition: all 0.2s ease;
    display: block;
    color: rgba(116, 117, 118, 1);

    &.active,
    &:hover {
      color: $themeColor;
    }
  }
}
