.date-shortcut {
  // .wrapper {
  //   width: 150px;
  //   // display: flex;
  //   // flex-wrap: wrap;
  //   // flex-direction: column;
  // }
  .action-btn {
    transition: all 0.2s ease;
    display: block;
    color: $form-label-text-color;

    &.active,
    &:hover {
      color: $themeColor;
    }
  }
}
