$date-picker-width: 260px;

.datepicker-ranger-content {
  @include layout();
  align-items: center;

  // .display-title {
  //   border: none !important;
  // }

  // .inline-content .menu-wrapper {
  //   height: $form-control-height;
  //   line-height: $form-control-height - 2px;
  //   padding: 0 8px;
  //   border: $form-control-border-width solid $form-control-border-color;
  //   border-left: none;
  //   color: $form-label-text-color;
  // }
}

.__flatpickr {
  display: flex;

  .form-control {
    font-size: 13px;
  }

  &.input-group {
    position: relative;
  }

  &.range {
    .form-control {
      min-width: $date-picker-width - 100px;
      width: $date-picker-width - 100px;
    }

    &.long {
      .form-control {
        min-width: $date-picker-width;
        width: $date-picker-width;
      }
    }
  }
}
