$iconViewBgColor: $themeColor;

input,
textarea {
  border: $form-control-border-width solid;

  &:focus {
    outline: none !important;
  }

  &:hover {
    @include focusBorder();
  }
}

textarea.form-control {
  width: 400px;
  height: 100px;
  padding: 10px;
}

input,
textarea {
  @include formControlFocus();
}

.input-number {
  display: flex;
  align-items: stretch;
  height: $form-control-height;

  &.error {
    .form-control {
      border-color: $red;
      background-color: $red;
    }
  }

  .form-tip {
    display: flex;
    align-items: center;
    margin-left: 10px;
    min-width: 100px;
  }

  .form-control {
    min-width: auto !important;
    width: 80px;
    text-align: center;
    position: relative;
    z-index: 1;
  }

  .option-btns {
    display: flex;
    user-select: none;

    // align-items: center;
    &._btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 10px;
      background-color: #EEE;
      height: 100%;
      font-size: 22px;
    }
  }
}

.input-control {
  background-color: $form-control-bg-color;
  position: relative;
  display: inline-block;

  .input-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &:hover {
    .input-group {
      @include focusBorder();
    }
  }

  &.flow-title {
    .input-group {
      width: 100%;
    }

    &.has-val,
    &.focusing {
      .title {
        font-size: $base-sm-font-size;
        transform: translateY(-120%);
        background-color: $form-control-active-bg-color;
      }
    }

    .title {
      position: absolute;
      // bottom: 4px;
    }
  }

  &.has-icon {}

  &.has-btn {
    .input-group {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &.focusing {
    .input-group {
      @include formFocusClass();
    }

    .title {
      color: $themeColor;
    }
  }

  .input-con {
    display: flex;
    align-items: stretch;
    height: 100%;
  }

  .input-group {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    border: $form-control-border-width solid $form-control-border-color;
    border-radius: $form-control-border-radius;
    transition: background-color 0.2s ease, border 0.2s ease, box-shadow 0.2s ease;
    .form-control {
      flex: 1;
    }
    .input-addon {
      color: $form-label-text-color;
      height: $form-control-height - 2 * $form-control-border-width;
      line-height: $form-control-height - 4px;
      padding: 0 8px;
      border-right: 1px solid $form-control-border-color;
      border-radius: $form-control-border-radius 0 0 $form-control-border-radius;
    }
    &.right {
      // border-right: 0;
      // border-left: 1px solid $form-control-border-color;
      .input-addon {
        border-left: 1px solid $form-control-border-color;
        border-right: none;
      }
    }
  }

  .form-control {
    background-color: transparent;
    border: none;
    position: relative;
    z-index: 1;
    padding: 0;
    height: 100%;
    min-height: $form-control-min-height-width-border;
    box-shadow: none !important;
    // margin-top: 4px;
    margin: 0 10px;

    &:focus {
      background-color: transparent !important;
    }

    &::placeholder {
      color: $text-light-color;
    }
  }

  .title {
    transition: all ease 0.2s;
    font-size: 14px;
    height: 22px;
    // min-width: 60px;
    display: flex;
    align-items: center;
    color: $form-label-text-color;
    margin-left: 10px;

    .icon {
      margin-right: 5px;
    }

    .text {
      display: inline-block;
    }

    * {
      -webkit-user-select: none !important;
      -ms-user-select: none !important;
      -moz-user-select: none !important;
      user-select: none !important;
    }
    // @include layoutCenter();
  }
}

.input-control {
  &.xl {
    .form-control {
      min-height: $form-control-xl-height - $form-control-border-width * 2;
    }
  }
  &.lg {
    .form-control {
      min-height: $form-control-lg-height - $form-control-border-width * 2;
    }
  }
  &.md {
    .form-control {
      min-height: $form-control-md-height - $form-control-border-width * 2;
    }
  }
  &.sm {
    .form-control {
      min-height: $form-control-sm-height - $form-control-border-width * 2;
    }
  }
  &.sx {
    .form-control {
      min-height: $form-control-xs-height - $form-control-border-width * 2;
    }
  }
}

.__input-selector {
  display: flex;
  align-items: center;

  .menu-wrapper {
    min-width: 80px !important;
  }

  .input-group {
    border-radius: 0 $form-control-border-radius $form-control-border-radius 0;
    margin-bottom: 0;
    margin-left: -1px;
  }
}

input[readonly] {
  background-color: #EEE !important;
}
