.__label {
  display: inline-block;
  color: #FFF;
  padding: $label-padding-vertical $label-padding-horizontal;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: $base-border-radius;
  &.bg_white.t_white {
    color: $text-normal-color;
  }
  &.bg_default {
    color: $text-normal-color;
  }
}
