// @import "../var.scss";
$listGroupWidth: 200px;

.__list-container {
  .list-item {
    padding: 6px 10px;
    &:hover {
      background-color: rgba(#444, 0.05);
    }
    &.b {
      border-bottom: 1px solid #f1f1f1;
    }
  }
}
