$loaderScale: 2em;
$loaderColor: #3ca9d1;

.loading-control {
  height: 100%;
  position: relative;
  .mask {
    @include fill();
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 99;
  }
}
.loading-container {
  width: 100%;
  z-index: 1;
  transition: all ease 0.2s;
  pointer-events: none;
}

.btn-loading, .spinning {
  animation: spinning 1.2s linear infinite;
}

@keyframes spinning {
  0% {
    transform: rotate(0);
  }

  // 50% {
  //   transform: rotate(180deg);
  // }
  100% {
    transform: rotate(360deg);
  }
}
