.__menus {
  background-color: #FFF;
  display: inline-block;
  min-width: $menu-min-width;
  width: 100%;
  .p {
    padding: $menu-item-padding-vertical;
  }
  .menu-item {
    padding: $menu-item-padding-vertical $menu-item-padding-horizontal;
    // border-bottom: 1px solid #EEE;
    cursor: pointer;
    .icon {
      margin-right: 6px;
    }
    &:hover {
      background-color: rgba(#000, 0.02);
    }
    &:active {
      background-color: rgba(#000, 0.05);
    }
  }
}
