.pagin-con {
  &.has-pagin {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  @include card();
  .btns-wrap {
    margin: 5px 0;
  }
  .item-group {
    display: inline-block;
  }
  .input {
    width: 60px;
  }
  .item {
    display: inline-block;
    padding: $pagin-item-padding;
    border: $form-control-border-width solid $form-control-border-color;
    border-radius: $form-control-border-radius;
    margin-right: 5px;
    height: $form-control-height;
    line-height: $form-control-height - 2 * $form-control-border-width;
    cursor: pointer;
    &:hover {
      background-color: $pagin-item-hover-bg-color;
    }
    &.active {
      background-color: $themeColor;
      color: #FFF;
      border-color: darken($themeColor, 10%);
    }
  }
}
