$padding: 0;

.switch-btn-group {
  border-radius: 20px;
  background-color: #f1f1f1;
  border: $form-control-border-width solid $form-control-border-color;
  display: inline-block;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 1px 1px rgba(#000, 0.05);
  padding: $padding;
  .indicator {
    position: absolute;
    left: 0;
    height: 100%;
    background-color: $themeColor;
    transition: all 0.2s ease;
    border-radius: 20px;
    box-shadow: inset 0 1px 1px rgba(#000, 0.1);
  }
  .switch-btn {
    $btn-height: $form-control-height - 2 * ($form-control-border-width + $padding);
    height: $btn-height;
    line-height: $btn-height;
    padding: 0 16px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    color: $form-label-text-color;
    display: inline-block;
    z-index: 1;
    position: relative;
    transition: color 0.2s ease;
    &.active {
      color: #FFF !important;
    }
    &:hover {
      color: $themeColor;
    }
    &[disabled] {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
}
