// @import "../var.scss";

.table-card {
  min-height: 100px;
  .item {
    border: $form-control-border-width solid #f3f3f3;
    background-color: #fafafa;
    padding: $base-container-padding;
    line-height: 22px;
    border-radius: $base-border-radius;
    transition: all ease 0.3s;
    position: relative;
    .link-btn {
      color: $orange;
      border: $form-control-border-width solid $orange;
      padding: 0 10px;
      border-radius: $base-border-radius;
      // display: inline-block;
      &:hover {
        color: $red;
        border-color: $red;
      }
    }
    &:hover {
      // border-color: $orange;
      box-shadow: 0 12px 24px rgba(0,0,0,0.1);
      z-index: 1;
    }
    .title {
      width: 100px;
      color: $form-label-text-color;
      text-align: right;
      margin-right: 10px;
    }
    .content {
      color: $form-content-text-color;
    }
    .content, .title {
      display: inline-block;
    }
  }
}
