.tabs-container {
  @include card();
  &.common-mode {
    background-color: transparent;
  }
  .tabs-container {
    border-bottom: none;
  }
  &.in-row {
    background-color: #EEE;
    .tab-group {
      display: block;
      .tab {
        .tab-label {
          display: block;
          box-shadow: 0 0 4px rgba(0,0,0,0.2);
          background-color: #FFF;
          border-top: 1px solid transparent;
        }
        &.active {
          .tab-label {
            border-color: $themeColor;
          }
        }
      }
    }
    .tab-content {
      min-height: 100px;
    }
  }
  .tab-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-bottom: $tab-border;
    .tab {
      color: $tab-text-color;
      cursor: pointer;
      position: relative;
      transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease;
      border-bottom: $tab-indicator-width solid transparent;
      margin-bottom: -$tab-indicator-width;
      ._close-btn {
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 4px;
        color: #999;
        opacity: 0;
        transform: translateY(-50%);
        transition: opacity ease 0.2s;
        &:hover {
          color: $red;
        }
      }
      &.right {
        align-self: baseline;
      }
      &:hover {
        color: $tab-text-hover-color;
        z-index: 2;
        border-color: $tab-indicator-bg-color;
        ._close-btn {
          opacity: 1;
        }
      }
      &.active {
        color: $tab-text-active-color;
        z-index: 1;
        border-color: $themeColor;
      }
      .tab-label {
        display: inline-block;
        padding: $tab-label-padding;
      }
    }
  }
}
