.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(#1d2126, 0.9);
  .carousel-item {
    @include fill();
  }
  .img {
    background-size: cover;
    background-position: center;
  }
  .func-btn {
    $iconScale: 40px;
    $offset: 5px;
    position: absolute;
    color: #DDD;
    height: 100%;
    top: 0;
    // padding-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .icon {
      font-size: 30px;
      display: inline-block;
      text-align: center;
      line-height: $iconScale;
      // padding: 30px;
      border-radius: 50%;
      height: $iconScale;
      width: $iconScale;
      transition: all 0.2s ease;
      &:hover {
        background-color: $themeColor;
        border-radius: 4px;
        // transform: translateX(10px);
      }
    }
    &.prev-btn {
      left: 0;
      transform: translateX($offset);
      &:hover {
        .icon {
          transform: translateX(-$offset);
        }
      }
      // .icon {
      //   border-radius: 0 3px 3px 0;
      // }
    }
    &.next-btn {
      right: 0;
      transform: translateX(-$offset);
      &:hover {
        .icon {
          transform: translateX($offset);
        }
      }
      // .icon {
      //   border-radius: 3px 0 0 3px;
      // }
    }
  }
  // &:hover {
  //   .thumb-contaner {
  //     transform: translateY(0);
  //   }
  // }
  .thumb-contaner {
    // transform: translateY(100px);
    $thumbH: 30px;
    $dotH: 14px;
    transition: transform ease 0.3s;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(#000,0.15);
    display: flex;
    justify-content: center;
    padding: 5px 0;
    .thumb-item {
      position: relative;
      // padding: 3px;
      // height: $thumbH;
      // width: $thumbH;
      // .img {
      //   background-size: cover;
      // }
      &.thumb {
        border: 1px solid transparent;
        &.active {
          border-color: $themeColor;
        }
        ._mark {
          @include fill();
          z-index: 101;
        }
      }
      .dot-item {
        height: $dotH;
        width: $dotH;
        display: block;
        background-color: #FFF;
        border-radius: 50%;
        margin: 0 5px;
        border: 2px solid rgba(#000, 0.3);
      }
      &.active {
        .dot-item {
          border-color: $themeColor;
        }
      }
      img {
        height: $thumbH;
        // filter: blur(0.5px);
      }
    }
    .carousel-tip {
      // width: 20px;
      // height: 20px;
      padding: 5px 20px;
      display: inline-block;
      cursor: default;
      &.active {
        background-color: $themeColor;
        color: #FFF;
      }
    }
  }
}
