@mixin popbg($bg: #FFF, $fontColor: #666) {
  background-color: $bg;
  color: $fontColor;
}

@mixin bgColor {
  &.theme {
    background-color: $themeColor;
    color: #FFF;
  }
  &.blue {
    background-color: $colorBlue;
    color: #FFF;
  }
  &.red {
    background-color: $colorRed;
    color: #FFF;
  }
  &.green {
    background-color: $colorGreen;
    color: #FFF;
  }
  &.gold {
    background-color: $colorGold;
    color: #FFF;
  }
  &.blue-l {
    background-color: $colorBlueLight;
    color: #FFF;
  }
  &.purple {
    background-color: $colorPurple;
    color: #FFF;
  }
  &.black {
    background-color: $colorBlack;
    color: #FFF;
  }
  &.orange {
    background-color: $colorOrange;
    color: #FFF;
  }
}