// @import "../var.scss";
$itemH: 30px;
$iconW: 20px;
#DropdownContainer {
  // .dropdown-items {
  //   width: 200px;
  // }
}
.uke-dropdown-menu {
  position: relative;
  cursor: pointer;
  display: inline-block;
  &.error {
    .menu-wrapper {
      color: $colorRed !important;
      .display-title {
        border-color: rgba($colorRed, 0.6) !important;
      }
    }
  }
  &.multiple {
    .section-mark {
      position: fixed;
    }
  }
  .dropdown-items {
    position: absolute;
    transition: all ease 0.2s;
  
    z-index: 112;
    background-color: #FFF;
    border-radius: 3px;
    transition: all 0.2s ease;
    box-shadow: 0 2px 36px rgba(#333, 0.3);
    $caretHeight: 6px;
    .caret {
      position: absolute;
      border-width: $caretHeight;
      color: #FFF;
    }
    &.top {
      bottom: 130%;
      .caret {
        bottom: -$caretHeight;
      }
    }
    &.bottom {
      top: 130%;
      .caret {
        transform: rotate(180deg);
        top: -$caretHeight;
      }
    }
    &.left {
      left: 0;
      .caret {
        left: 20px;
      }
    }
    &.right {
      right: 0;
      .caret {
        right: 20px;
      }
    }
  }
  .menu-wrapper, .menu-item {
    &:hover {
      color: $themeColor;
      .display-title {
        border-color: rgba($themeColor, 0.6);
      }
    }
  }
  .menu-wrapper {
    // background-color: #FFF;
    line-height: $itemH;
    // min-width: 140px;
    .icon {
      z-index: 1;
    }
    // line-height: 32px;
    // height: 32px;
  }
  .icon-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    right: $iconW / 2;
    display: flex;
    align-items: center;
    // color: inherit;
    opacity: 0.6;
    z-index: 1;
    transition: transform ease 0.3s;
  }
  &.top {
    .icon-wrap {
      transform: rotate(180deg);
    }
  }
  &.show {
    .icon-wrap {
      transform: rotate(180deg);
    }
    &.top {
      .icon-wrap {
        transform: rotate(0);
      }
    }
    &.input-mode.single {
      .search-input {
        opacity: 1;
        z-index: 1;
      }
      .display-title {
        opacity: 0;
      }
    }
  }
  .display-title {
    opacity: 1;
    z-index: 1;
    // position: relative;
    width: 100%;
    cursor: pointer;
  }
  .display-title,.search-input {
    border: 1px solid #e7e7e7;
    padding: 0 30px 0 10px;
    border-radius: 3px;
  }
  .search-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    z-index: 0;
    outline: none;
    &:focus {
      box-shadow: 0 0 5px rgba($themeColor, 0.6);
      border-color: $themeColor;
    }
  }
  .action-group {
    position: relative;
    z-index: 11;
    .action-btn {
      padding: 6px;
      color: #AAA;
      &:hover {
        background-color: #f9f9f9;
      }
    }
  }
  .section-mark {
    background: transparent !important;
    // position: fixed;
    // z-index: 111;
  }
  .menu-item {
    color: #777;
    transition: border ease 0.1s;
    border-left: 0 solid $colorRed;
    padding: 5px 10px;
    &.active {
      border-left-width: 2px;
      color: $colorRed !important;
    }
  }
  .items-group {
    max-height: 240px;
    overflow-y: auto;
    min-width: 180px;
    transition: height 0.2s ease;
    .group {
      &.active {
        .cateroy-title {
          color: $themeColor;
          .check-icon {
            display: block;
          }
        }
      }
      .cateroy-title {
        padding: 10px 10px;
        border-top: 1px solid #EEE;
        border-bottom: 1px solid #EEE;
        background-color: #f3f3f3;
        position: relative;
        display: flex;
        .check-icon {
          display: none;
        }
        &:hover {
          background-color: #EEE;
        }
      }
    }
  }
}
