.input-selector {
  display: flex;
  align-items: center;
  .menu-wrapper {
    min-width: 80px !important;
    background-color: #f3f3f3;
  }
  .input-control {
    border-radius: 0 3px 3px 0;
    margin-bottom: 0;
    padding: 0 10px;
    // margin-left: 5px;
  }
}

.input-group {
  display: table;
  .input-addon {
    border: 1px solid #EEE;
    display: table-cell;
    padding: 1.5px 10px;
    border-left: none;
    vertical-align: middle;
    background-color: #f9f9f9;
  }
}

.form-layout {
  position: relative;
  padding: 0.1px;
}
textarea.form-control {
  width: 400px;
  height: 100px;
}
.form-control {
  &select {
    padding: 0;
  }
  display: inline-block;
  width: auto;
  background-color: #FFF;
  // -webkit-border-radius: 3px;
  border-radius: 3px;
  // -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #e7e7e7;
  background-color: #fefefe;
  transition: border-color 0.1s, background-color 0.1s;
  &:focus {
    // box-shadow: none;
    box-shadow: 0 0 5px rgba($themeColor, 0.6);
    background-color: #FFF;
    border-color: $themeColor;
  }
  &[type="range"] {
    width: auto;
  }
  &.error {
    border-color: $colorRed;
  }
  &.success {
    border-color: $colorGreen;
  }
}
.control-label {
  color: #777;
  .icon {
    margin: 0 5px;
  }
}

.form-desc {
  display: inline-block;
  color: #999;
  font-size: 12px;
  .highlight {
    font-size: 14px;
    color: $themeColor;
  }
  &.success {
    color: $colorGreen;
  }
  &.error {
    color: $colorRed;
  }
}

.form-container {
  .form-control {
    min-width: 240px;
  }
  &.inlineTitle {
    .title {
      display: inline !important;
    }
  }
  .form-group-title {
    margin-top: 40px;
    margin-left: 20px;
    border-bottom: 1px solid rgba(#000, 0.05);
    // padding-left: 10px;
    // padding-bottom: 10px;
    // border-top: 1px solid rgba(#000, 0.05);
    // padding-top: 20px;
    .inner-text {
      border-bottom: 2px solid $themeColor;
      display: inline-block;
      margin-bottom: -2px;
    }
  }
}

.form-group {
  margin: 20px 0;
  // &.required {
  //   .control-label {
  //     color: darken($themeColor, 40%);
  //   }
  // }
  &.error {
    .control-label {
      color: $colorRed;
    }
  }
  .uke-radio-container {
    max-width: 70%;
  }
}
.vertical-form {
  width: 70%;
  margin: 0 auto;
  padding: 1px 0;
  .control-label {
    margin-bottom: 10px;
  }
  .form-group {
    // margin: 20px 0;
    display: flex;
    flex-direction: column;
  }
  .form-desc {
    margin-top: 2px;
  }
}

.horizontal-form {
  padding: 5px 0;
  // margin-bottom: 5px;
  &.inline {
    .form-group {
      .control-label {
        width: auto;
        padding: 0 10px;
        margin: 0;
      }
      .form-control {
        min-width: 120px;
      }
    }
  }
  .form-desc {
    margin: 0 5px;
  }
  .form-group {
    display: flex;
    align-items: center;
    &.ranger {
      // width: 70%;
      .ranger-container {
        width: 50%;
        min-width: auto;
      }
    }
    .control-label {
      width: 120px;
      text-align: right;
      margin-right: 40px;
    }
  }
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  transition: transform 0.2s ease;
}

@media screen and (max-width:800px){
  .vertical-form {
    width: 90%;
  }
}
