$iconViewBgColor: $themeColor;

.input-verify {
  display: flex;
  align-items: stretch;
  &.error {
    .form-control {
      border-color: $red;
      background-color: $red;
    }
  }
  .form-tip {
    display: flex;
    align-items: center;
    margin-left: 10px;
    min-width: 100px;
  }
  .form-control {
    min-width: auto !important;
    width: 80px;
    text-align: center;
  }
  .option-btns {
    display: flex;
    user-select: none;
    // align-items: center;
    ._btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 10px;
      background-color: #EEE;
      height: 100%;
      font-size: 22px;
    }
  }
}

.input-control {
  background-color: rgba(255,255,255,0.2);
  position: relative;
  display: inline-block;
  .input-btn  {
    // margin: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &:hover {
    .input-group {
      @include focusBorder();
    }
  }
  &.flow-title {
    .input-group {
      width: 100%;
    }
    &.has-val,&.focusing {
      .title {
        font-size: 12px;
        transform: translateY(-120%);
      }
    }
    .title {
      position: absolute;
      // bottom: 4px;
    }
  }
  &.has-icon {
  }
  &.has-btn {
    .input-group {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  &.focusing {
    .input-group {
      @include formFocusClass();
    }
    .title {
      color: $themeColor;
    }
  }
  .input-con {
    display: flex;
    align-items: stretch;
    height: 100%;
  }
  .input-group {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    border: 1px solid $gray;
    border-radius: 3px;
    transition: background-color 0.2s ease, border 0.2s ease, box-shadow 0.2s ease;
    background-color: #fefefe;
  }
  .form-control {
    background-color: transparent;
    border: none;
    position: relative;
    z-index: 1;
    padding: 0;
    height: 100%;
    min-height: 30px;
    box-shadow: none !important;
    // margin-top: 4px;
    margin: 0 10px;
    &:focus {
      background-color: transparent !important;
    }
    &::placeholder {
      color: #CCC;
    }
  }
  .title {
    transition: all ease 0.2s;
    font-size: 14px;
    height: 22px;
    // min-width: 60px;
    display: flex;
    align-items: center;
    color: #999;
    margin-left: 10px;
    .icon {
      margin-right: 5px;
    }
    .text {
      display: inline-block;
    }

    * {
      -webkit-user-select: none !important;
      -ms-user-select: none !important;
      -moz-user-select: none !important;
      user-select: none !important;
    }
    // @include layoutCenter();
  }
}
.input-control {
  &.xl {
    padding: 5px 10px;
  }
}
.input-selector {
  display: flex;
  align-items: center;
  .menu-wrapper {
    min-width: 80px !important;
    background-color: #f3f3f3;
  }
  .input-group {
    border-radius: 0 3px 3px 0;
    margin-bottom: 0;
    // padding: 0 10px;
    // margin-left: 5px;
  }
}
input[readonly] {
  background-color: #EEE !important;
}