.__link-selector {
  .items {
    @include layout;
  }
  .wrapper {
    position: relative;
    height: 240px;
    overflow-y: auto;
    // @include layout;
  }
  .folder {
    padding: 6px 10px;
    // display: inline-block;
    cursor: pointer;
    &.active {
      background-color: #f5f5f5;
    }
    .icon {
      margin-left: 5px;
      color: #AAA;
    }
    .fold-title {

    }
    >.fold {

    }
    .children {
      position: absolute;
      top: 0;
      left: 100%;
    }
  }
}
