@import '../color/color-mixin.scss';

$verticalOffset: 12px;
$horizontalOffset: 12px;

.uke-popover {
  position: fixed;
  z-index: 1122;
  background-color: #FFF;
  min-width: 60px;
  min-height: 30px;
  box-shadow: 0 12px 48px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  transition: opacity 0.2s ease;
  outline: none;
  border-radius: 3px;
  // @include bgColor;
  @include popbg();
  &.white {
    background-color: #FFF;
    color: inherit;
  }
  &.fixed {
    position: fixed;
  }
  &.top {
    .caret {
      bottom: -8px;
      // left: ;
      transform: translateX($verticalOffset);
    }
  }
  &.right {
    .caret {
      left: -14px;
      top: $horizontalOffset;
      transform: rotate(90deg);
    }
  }
  &.bottom {
    .caret {
      top: -8px;
      // left: 48%;
      transform: rotate(-180deg) translateX(-$verticalOffset);
    }
  }
  &.left {
    .caret {
      right: -12px;
      top: $horizontalOffset;
      transform: rotate(-90deg);
    }
  }
  .caret {
    position: absolute;
    color: #FFF;
    border-width: 8px;
    transition: none;
  }
  .close-btn {
    position: absolute;
    border-radius: 0;
    z-index: 1;
    top: 0;
    right: -20px;
  }
}
