@import './color-mixin.scss';

.uke-popover {
  position: absolute;
  z-index: 444;
  background-color: #FFF;
  min-width: 60px;
  min-height: 30px;
  box-shadow: 0 12px 48px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  transition: opacity 0.2s ease;
  outline: none;
  border-radius: 3px;
  &.white {
    @include popbg();
  }
  @include bgColor;
  &.fixed {
    position: fixed;
  }
  &.top {
    .caret {
      top: -8px;
      left: 48%;
      transform: rotate(-180deg);
    }
  }
  &.right {
    .caret {
      right: -12px;
      top: 15px;
      transform: rotate(-90deg);
    }
  }
  &.bottom {
    .caret {
      bottom: -8px;
      left: 48%;
    }
  }
  &.left {
    .caret {
      left: -14px;
      top: 15px;
      transform: rotate(90deg);
    }
  }
  .caret {
    position: absolute;
    color: #FFF;
    border-width: 8px;
  }
  .close-btn {
    position: absolute;
    z-index: 1;
    top: -6px;
    right: -6px;
  }
}
