$frameScale: 16px;
$normalColor: #CCC;
.uke-radio-container {
  .group {
    @include layout();
    align-items: center;
    // padding-left: $frameScale;
    .selectAllBtn {
      margin-right: 10px;
    }
    .item {
      $itemPaddingHeight: 10px;
      padding: 5px $itemPaddingHeight;
      position: relative;
      margin-left: $frameScale;
      margin-right: 10px;
      cursor: pointer;
      min-width: 60px;
      &.active {
        .frame {
          border-color: $themeColor;
          .unit {
            background-color: $themeColor;
            transform: scale(0.6);
          }
        }
      }
      &:hover {
        color: $themeColor;
      }
      .frame {
        position: absolute;
        left: -$frameScale;
        width: $frameScale;
        height: $frameScale;
        border-radius: 50%;
        top: 50%;
        transform: translateY(- $frameScale / 2);
        
        border: 1px solid $normalColor;
        overflow: hidden;
        .unit {
          @include fill;
          transform: scale(0.4);
          background-color: $normalColor;
          border-radius: 50%;
          transition: all ease 0.2s;
        }
      }
    }
  }
  &.multiple {
    .frame {
      border-radius: 2px !important;
      .unit {
        border-radius: 2px !important;
      }
    }
  }
}
