// @import "../var.scss";

@mixin highlightTD($color) {
  td,
  th {
    // background-color: $color;
    color: $color;
    border-bottom-color: darken($color, 10%);
  }
}
.table-body-scroll {
  overflow-y: auto;
  overflow-x: hidden;
}
.break-word {
  white-space: inherit;
  word-break: break-word;
}
.table-header {
  table-layout: fixed;
  thead {
    th {
      &._order {
        background: linear-gradient(180deg, darken(#FFF, 3%), darken(#FFF, 6%));
        position: relative;
        // color: $themeColor;
        .caret {
          position: absolute;
          top: 45%;
          right: 10px;
        }
      }
      .icon {
        margin: 0 5px;
      }
    }
  }
}
.table-render {
  // overflow: auto;
  overflow-x: auto;
  // position: relative;

  // &.has-checked {
  //   padding-bottom: 40px;
  //   margin-bottom: -40px;
  // }
  .checked-actions {
    opacity: 0;
    position: absolute;
    z-index: -1;
    bottom: 100%;
    background-color: #FFF;
    padding: 5px 10px;
    box-shadow: 0 -3px 6px rgba(39,44,49,.1);
    transition: all ease 0.2s;
    transform: translateY(20px);
    display: flex;
    align-items: center;
    &.show {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
.table-container {
  @include card();
  // padding-bottom: 10px;
}
.hide-table {
  // opacity: 0;
  height: 0;
  overflow: hidden;
}
.no-record-tip {
  display: block;
  padding: 20px 0;
  text-align: center;
  color: #CCC;
  .icon {
    font-size: 26px;
    margin-right: 10px;
  }
  .text {
    font-size: 16px;
  }
}
.table {
  border-spacing: 0;
  * {
    user-select: auto;
  }
  thead {
    background-color: $tableHeaderBgColor;
    tr {
      th {
        border-bottom: 1px solid #eee;
        font-weight: normal;
        color: $tableHeaderTextColor;
        padding: 8px 0;
        // vertical-align: middle;
        // border-bottom: 2px solid #ddd;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        background: linear-gradient(180deg, #FFF, #f6f6f6);
        // &:hover {
        //   background-color: darken($tableHeaderBgColor, 2%);
        // }
      }
    }
  }

  tr {
    &.theme {
      @include highlightTD($colorRed);
    }
    &.blue {
      @include highlightTD($colorBlue);
    }
    &.red {
      @include highlightTD($colorRed);
    }
    &.orange {
      @include highlightTD($colorOrange);
    }
  }

  tbody {
    background-color: $tableBodyBgColor;
    tr {
      &:hover {
        background-color: rgba($themeColor, 0.06) !important;
      }
      td {
        border-bottom: 1px solid #f0f0f0;
        // border-right: 1px solid #EEE;
        padding: 8px 2px;
        text-align: center;
        border-top: 0;
        // word-break: break-all;
        // white-space: inherit;
        /** 为了让表格形成一行 */
        word-break: keep-all;
        white-space: nowrap;
        vertical-align: middle;
        color: $tableBodyTextColor;
        min-width: 80px;
        max-width: 400px !important;
        // border-right: 1px solid #e9e9e9;
        &.check-td  {
          min-width: 30px !important;
        }
        &.break-word {
          word-break: break-word;
          white-space: inherit;
        }
      }
      &:nth-of-type(even) {
        background-color: #f5f5f5;
      }
    }
  }

  // &.fixed {
  //   table-layout: fixed;
  // }
}
